---
import { MarqueeReact } from "../../components/MarqueeReact";
import Layout from "../../layouts/Layout.astro";
import { changeLanguage, t } from "i18next";
import { partners } from "../../logos_partners";

changeLanguage("en");
---

<Layout title='Welcome to Astro.'>
  <section class='relative h-screen'>
    <video
      class='absolute w-screen h-screen z-[-1]'
      muted
      loop
      autoplay
      playsinline
    >
      <source src='/video/amof_background_2024.mp4' type='video/mp4' />
    </video>
    <div class='flex items-center h-full'>
      <div
        class='container mx-auto px-4'
        style='text-shadow: 4px 4px 4px black;'
      >
        <p
          class='lg:text-7xl text-5xl font-bold text-white lg:text-center text-center'
        >
          Americas' <br /> Mobility <br />of the <br /> Future
        </p>
      </div>
    </div>
  </section>
  <div class='flex justify-center background-highway'>
    <div class='p-4 lg:w-1/3'></div>
    <div
      class='p-4 lg:w-2/3 w-full container-about mt-[150px] flex justify-center items-center'
    >
      <div class='lg:px-20'>
        <p
          class='font-semibold text-2xl lg:text-left text-center py-6 text-blue-700'
        >
          {t('home.about_title')}
        </p>
        <p
          class='font-bold text-5xl pb-12 lg:text-left text-center text-blue-700'
        >
          Americas’ Mobility of the Future
        </p>
        <p class='lg:text-2xl lg:text-left text-justify'>
          {t('home.description1')}
        </p>
      </div>
    </div>
    <!-- <div class="h-[350px]">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/YWUJrv0bXko?si=qMK0iUVa8L8jNwjm"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div> -->
  </div>
  <!-- <div class="my-12">
    <p class="text-blue-900 font-bold text-3xl uppercase text-center p-4">
      {t("home.platinum-sponsor")}
    </p>
    <div
      class="grid lg:grid-cols-2 grid-cols-1 gap-4 lg:w-[600px] max-w-screen-lg mx-auto"
    >
      <div class="flex flex-col justify-center items-center">
        <a href="">
          <img
            src="/img/logos/kia.webp"
            alt=""
            class="w-[250px] object-contain"
          />
        </a>
      </div>
      <div class="flex flex-col justify-center items-center">
        <a href="">
          <img
            src="/img/logos/siemens.webp"
            alt=""
            class="w-[250px] object-contain"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="my-12">
    <div
      class="grid lg:grid-cols-2 grid-cols-1 gap-4 lg:w-auto max-w-screen-lg mx-auto"
    >
      <div class="flex flex-col justify-center items-center">
        <p class="text-blue-900 font-bold text-3xl uppercase text-center p-4">
          {t("home.content-partner")}
        </p>
        <a href="">
          <img
            src="/img/logos/deloitte.webp"
            alt=""
            class="w-[250px] object-contain"
          />
        </a>
      </div>
      <div class="flex flex-col justify-center items-center">
        <p class="text-blue-900 font-bold text-3xl uppercase text-center p-4">
          {t("home.mobility-partner")}
        </p>
        <a href="">
          <img
            src="/img/logos/questum.webp"
            alt=""
            class="w-[250px] object-contain"
          />
        </a>
      </div>
    </div>
  </div> -->
  <div
    class='lg:flex grid grid-cols-1 gap-10 justify-center items-center lg:m-24 p-5'
  >
    <div
      class='flex flex-col justify-center items-center max-w-sm p-6 rounded-lg bg-blue-950 text-center h-[300px] shadow-xl'
    >
      <svg
        fill='#ffffff'
        width='64px'
        height='64px'
        viewBox='-2 0 19 19'
        xmlns='http://www.w3.org/2000/svg'
        class='cf-icon-svg'
        ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
          id='SVGRepo_tracerCarrier'
          stroke-linecap='round'
          stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
          ><path
            d='M14.147 15.488a1.112 1.112 0 0 1-1.567 0l-3.395-3.395a5.575 5.575 0 1 1 1.568-1.568l3.394 3.395a1.112 1.112 0 0 1 0 1.568zm-6.361-3.903a4.488 4.488 0 1 0-1.681.327 4.443 4.443 0 0 0 1.68-.327z'
          ></path></g
        ></svg
      >
      <h5
        class='mb-2 text-2xl font-bold text-white justify-center items-center pb-4'
      >
        {t('home.title1')}
      </h5>
      <p class='font-normal text-white'>{t('home.description2')}</p>
    </div>
    <div
      class='flex flex-col justify-center items-center max-w-sm p-6 rounded-lg bg-blue-950 text-center h-[300px] shadow-xl'
    >
      <svg
        width='64px'
        height='64px'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
        ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
          id='SVGRepo_tracerCarrier'
          stroke-linecap='round'
          stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
          <path
            d='M13.0867 21.3877L13.7321 21.7697L13.0867 21.3877ZM13.6288 20.4718L12.9833 20.0898L13.6288 20.4718ZM10.3712 20.4718L9.72579 20.8539H9.72579L10.3712 20.4718ZM10.9133 21.3877L11.5587 21.0057L10.9133 21.3877ZM2.3806 15.9134L3.07351 15.6264V15.6264L2.3806 15.9134ZM7.78958 18.9915L7.77666 19.7413L7.78958 18.9915ZM5.08658 18.6194L4.79957 19.3123H4.79957L5.08658 18.6194ZM21.6194 15.9134L22.3123 16.2004V16.2004L21.6194 15.9134ZM16.2104 18.9915L16.1975 18.2416L16.2104 18.9915ZM18.9134 18.6194L19.2004 19.3123H19.2004L18.9134 18.6194ZM19.6125 2.7368L19.2206 3.37628L19.6125 2.7368ZM21.2632 4.38751L21.9027 3.99563V3.99563L21.2632 4.38751ZM4.38751 2.7368L3.99563 2.09732V2.09732L4.38751 2.7368ZM2.7368 4.38751L2.09732 3.99563H2.09732L2.7368 4.38751ZM9.40279 19.2098L9.77986 18.5615L9.77986 18.5615L9.40279 19.2098ZM13.7321 21.7697L14.2742 20.8539L12.9833 20.0898L12.4412 21.0057L13.7321 21.7697ZM9.72579 20.8539L10.2679 21.7697L11.5587 21.0057L11.0166 20.0898L9.72579 20.8539ZM12.4412 21.0057C12.2485 21.3313 11.7515 21.3313 11.5587 21.0057L10.2679 21.7697C11.0415 23.0767 12.9585 23.0767 13.7321 21.7697L12.4412 21.0057ZM10.5 2.75H13.5V1.25H10.5V2.75ZM21.25 10.5V11.5H22.75V10.5H21.25ZM2.75 11.5V10.5H1.25V11.5H2.75ZM1.25 11.5C1.25 12.6546 1.24959 13.5581 1.29931 14.2868C1.3495 15.0223 1.45323 15.6344 1.68769 16.2004L3.07351 15.6264C2.92737 15.2736 2.84081 14.8438 2.79584 14.1847C2.75041 13.5189 2.75 12.6751 2.75 11.5H1.25ZM7.8025 18.2416C6.54706 18.2199 5.88923 18.1401 5.37359 17.9265L4.79957 19.3123C5.60454 19.6457 6.52138 19.7197 7.77666 19.7413L7.8025 18.2416ZM1.68769 16.2004C2.27128 17.6093 3.39066 18.7287 4.79957 19.3123L5.3736 17.9265C4.33223 17.4951 3.50486 16.6678 3.07351 15.6264L1.68769 16.2004ZM21.25 11.5C21.25 12.6751 21.2496 13.5189 21.2042 14.1847C21.1592 14.8438 21.0726 15.2736 20.9265 15.6264L22.3123 16.2004C22.5468 15.6344 22.6505 15.0223 22.7007 14.2868C22.7504 13.5581 22.75 12.6546 22.75 11.5H21.25ZM16.2233 19.7413C17.4786 19.7197 18.3955 19.6457 19.2004 19.3123L18.6264 17.9265C18.1108 18.1401 17.4529 18.2199 16.1975 18.2416L16.2233 19.7413ZM20.9265 15.6264C20.4951 16.6678 19.6678 17.4951 18.6264 17.9265L19.2004 19.3123C20.6093 18.7287 21.7287 17.6093 22.3123 16.2004L20.9265 15.6264ZM13.5 2.75C15.1512 2.75 16.337 2.75079 17.2619 2.83873C18.1757 2.92561 18.7571 3.09223 19.2206 3.37628L20.0044 2.09732C19.2655 1.64457 18.4274 1.44279 17.4039 1.34547C16.3915 1.24921 15.1222 1.25 13.5 1.25V2.75ZM22.75 10.5C22.75 8.87781 22.7508 7.6085 22.6545 6.59611C22.5572 5.57256 22.3554 4.73445 21.9027 3.99563L20.6237 4.77938C20.9078 5.24291 21.0744 5.82434 21.1613 6.73809C21.2492 7.663 21.25 8.84876 21.25 10.5H22.75ZM19.2206 3.37628C19.7925 3.72672 20.2733 4.20752 20.6237 4.77938L21.9027 3.99563C21.4286 3.22194 20.7781 2.57144 20.0044 2.09732L19.2206 3.37628ZM10.5 1.25C8.87781 1.25 7.6085 1.24921 6.59611 1.34547C5.57256 1.44279 4.73445 1.64457 3.99563 2.09732L4.77938 3.37628C5.24291 3.09223 5.82434 2.92561 6.73809 2.83873C7.663 2.75079 8.84876 2.75 10.5 2.75V1.25ZM2.75 10.5C2.75 8.84876 2.75079 7.663 2.83873 6.73809C2.92561 5.82434 3.09223 5.24291 3.37628 4.77938L2.09732 3.99563C1.64457 4.73445 1.44279 5.57256 1.34547 6.59611C1.24921 7.6085 1.25 8.87781 1.25 10.5H2.75ZM3.99563 2.09732C3.22194 2.57144 2.57144 3.22194 2.09732 3.99563L3.37628 4.77938C3.72672 4.20752 4.20752 3.72672 4.77938 3.37628L3.99563 2.09732ZM11.0166 20.0898C10.8136 19.7468 10.6354 19.4441 10.4621 19.2063C10.2795 18.9559 10.0702 18.7304 9.77986 18.5615L9.02572 19.8582C9.07313 19.8857 9.13772 19.936 9.24985 20.0898C9.37122 20.2564 9.50835 20.4865 9.72579 20.8539L11.0166 20.0898ZM7.77666 19.7413C8.21575 19.7489 8.49387 19.7545 8.70588 19.7779C8.90399 19.7999 8.98078 19.832 9.02572 19.8582L9.77986 18.5615C9.4871 18.3912 9.18246 18.3215 8.87097 18.287C8.57339 18.2541 8.21375 18.2487 7.8025 18.2416L7.77666 19.7413ZM14.2742 20.8539C14.4916 20.4865 14.6287 20.2564 14.7501 20.0898C14.8622 19.936 14.9268 19.8857 14.9742 19.8582L14.2201 18.5615C13.9298 18.7304 13.7204 18.9559 13.5379 19.2063C13.3646 19.4441 13.1864 19.7468 12.9833 20.0898L14.2742 20.8539ZM16.1975 18.2416C15.7862 18.2487 15.4266 18.2541 15.129 18.287C14.8175 18.3215 14.5129 18.3912 14.2201 18.5615L14.9742 19.8582C15.0192 19.832 15.096 19.7999 15.2941 19.7779C15.5061 19.7545 15.7842 19.7489 16.2233 19.7413L16.1975 18.2416Z'
            fill='#ffffff'></path>
          <path
            d='M9 11.08L11 13L15 9'
            stroke='#ffffff'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'></path>
        </g></svg
      >
      <h5
        class='mb-2 text-2xl font-bold text-white justify-center items-center pb-4'
      >
        {t('home.topic2')}
      </h5>
      <p class='font-normal text-white'>{t('home.description3')}</p>
    </div>
  </div>
  <div>
    <p class='font-bold uppercase text-4xl text-center'>{t('home.title3')}</p>
  </div>
  <div class='my-28'>
    <p class='font-bold uppercase text-4xl text-center'>{t('home.title4')}</p>
    <div class='grid lg:grid-cols-4 grid-cols-1 gap-4 m-8'>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-star text-blue-950'
      >
        <img src='/img/movilidad_icono.webp' alt='' class='w-[180px] mb-4' />
        {t('home.category1')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img src='/img/infraestructura_icono.webp' alt='' class='w-[180px]' />
        {t('home.category2')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img
          src='/img/servicios_de_movilidad_icono.webp'
          alt=''
          class='w-[180px]'
        />
        {t('home.category3')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img src='/img/ecosistema_icono.webp' alt='' class='w-[180px]' />
        {t('home.category4')}
      </div>
    </div>
  </div>
  <div class='my-28'>
    <p class='font-bold uppercase text-4xl text-center'>Showroom</p>
    <p class='font-bold uppercase text-normal text-center pt-4'>
      {t('home.price-title')}
    </p>
    <div
      class='lg:flex grid lg:grid-cols-2 grid-cols-1 gap-16 items-start justify-center lg:m-16 m-4'
    >
      <div class='flex items-center justify-center lg:w-[400px] w-auto'>
        <div class='flex items-center justify-center'>
          <div
            class='w-full max-w-sm p-4 rounded-lg shadow sm:p-8 bg-blue-950 text-center h-[600px]'
          >
            <h5 class='text-3xl font-bold text-white uppercase'>
              {t('home.price1.title')}
            </h5>
            <h5 class='mb-4 text-normal font-medium text-white uppercase'>
              {t('home.price1.type')}
            </h5>
            <div class='flex items-baseline justify-center text-white'>
              <span class='text-3xl font-semibold'>$</span>
              <span class='text-6xl font-extrabold'>263</span>
            </div>
            <p class='text-white text-xl font-semibold'>
              {t('home.price1.characteristics.coin-type')}
            </p>

            <ul role='list' class='space-y-5 my-7'>
              <li
                class='flex items-center justify-center py-4 border-y border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price1.characteristics.item1')}
                />
              </li>
              <li class='flex items-center justify-center py-4'>
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price1.characteristics.item2')}
                />
              </li>
            </ul>
            <button
              type='button'
              class='text-white bg-blue-400 hover:bg-blue-200 hover:text-blue-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center mb-8'
              >{t('home.price1.characteristics.item-button')}
            </button>
            <span
              class='text-base font-normal leading-tight text-white ms-3'
              set:html={t('home.price1.characteristics.item3')}
            />
          </div>
        </div>
      </div>
      <div class='flex items-center justify-center lg:w-[400px] w-auto'>
        <div class='flex items-center justify-center'>
          <div
            class='w-full max-w-sm p-4 rounded-lg shadow sm:p-8 bg-blue-950 text-center h-[700px]'
          >
            <h5 class='text-3xl font-bold text-white uppercase'>
              {t('home.price2.title')}
            </h5>
            <h5 class='mb-4 text-normal font-medium text-white uppercase'>
              {t('home.price1.type')}
            </h5>
            <div class='flex items-baseline justify-center text-white'>
              <span class='text-3xl font-semibold'>$</span>
              <span class='text-6xl font-extrabold'>368</span>
            </div>
            <p class='text-white text-xl font-semibold'>
              {t('home.price1.characteristics.coin-type')}
            </p>

            <ul role='list' class='space-y-5 my-7'>
              <li
                class='flex items-center justify-center py-4 border-y border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item1')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item2')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item3')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item4')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item5')}
                />
              </li>
              <li class='flex items-center justify-center py-2'>
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item6')}
                />
              </li>
            </ul>
            <button
              type='button'
              class='text-white bg-blue-400 hover:bg-blue-200 hover:text-blue-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center mb-8'
              >{t('home.price1.characteristics.item-button')}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='my-12'>
    <p class='font-bold uppercase text-4xl text-center mb-6 text-blue-900'>
      MEDIA PARTNERS
    </p>
    <MarqueeReact images={partners} client:only />
  </div>
</Layout>
<style>
  video {
    object-fit: cover;
    object-position: left;
  }

  .background-highway {
    background-image: url('/img/background_1.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container-about {
    background-color: #ffffff;
    border-radius: 50px 0px 0px 0px;
  }

  .home-text-agro {
    text-shadow: 4px 4px 4px black;
  }
  .filter-shadow {
    filter: drop-shadow(4px 4px 4px black);
  }
</style>
