---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import i18next, { changeLanguage, t } from "i18next";

changeLanguage("es");
---

<Layout title="Welcome to Astro.">
	<!-- <main class="flex-grow w-full">
		<div class="aspect-w-16 aspect-h-9 w-full">
		  <video src="/your-video.mp4" controls class="w-full"></video>
		</div>
	  </main> -->
</Layout>

<style>

</style>
