---
import { MarqueeReact } from '../components/MarqueeReact'
import Layout from '../layouts/Layout.astro'
import { changeLanguage, t } from 'i18next'
import { partners } from '../logos_partners'
import { Carousel3d } from '../components/Carousel3d.jsx'
import type { Code } from 'astro:components'
changeLanguage('es')
---

<Layout title='Welcome to Astro.'>
  <section class='relative h-screen'>
    <video
      class='absolute object-cover w-screen h-screen z-[-1]'
      muted
      loop
      autoplay
      playsinline
    >
      <source src='/video/LOOP-amof-opt.mp4' type='video/mp4' />
    </video>
    <div class='flex items-center h-full relative'>
      <div class='bg-gray-950 opacity-45 absolute w-full h-full'></div>
      <div
        class='container mx-auto px-4 relative z-50'
        style='text-shadow: 4px 4px 4px black;'
      >
        <p
          class='lg:text-9xl text-5xl font-bold text-white lg:text-center text-center'
        >
          AMOF
        </p>
        <p
          class='text-3xl font-bold text-white lg:text-center text-center'
          set:html={t('home.slogan')}
        />
        <p class='mt-10 text-center text-white font-semibold text-5xl'>
          {t('home.event_date_video')}
        </p>
        <p class='mt-5 text-center text-white font-bold text-3xl'>
          Poliforum - Léon Guanajuato, México
        </p>
      </div>
    </div>
  </section>
  <section class='my-20 container px-4 mx-auto'>
    <p class='text-4xl text-gray-600 font-bold text-center'>
      {t('home.title1')}
    </p>
    <p class='mt-5 text-lg text-center' set:html={t('home.description1')} />
    <div class='mt-20 grid md:grid-cols-2 gap-6'>
      <div
        class='p-6 rounded-lg text-center shadow-xl grid place-content-center'
      >
        <h5
          class='mb-2 text-2xl font-bold text-gray-600 justify-center items-center pb-4'
        >
          {t('home.title2')}
        </h5>
        <p class='font-normal text-black'>{t('home.description2')}</p>
      </div>
      <video
        class='rounded-lg object-cover w-full h-full'
        src='/video/SUMMIT-amofv1-opt.mp4'
        muted
        loop
        autoplay
        playsinline></video>
    </div>
  </section>
  <section class='relative grid place-items-center'>
    <video
      class='absolute object-cover w-full h-full z-[-1]'
      muted
      loop
      autoplay
      playsinline
    >
      <source src='/video/video_amof_bg.mp4' type='video/mp4' />
    </video>
    <div
      class='lg:w-2/5 w-full rounded-t-3xl bg-white mt-[150px] flex justify-center items-center'
    >
      <div class='lg:px-20 py-5'>
        <p
          class='font-semibold text-2xl lg:text-left text-center py-6 text-blue-700'
        >
          {t('home.about_title')}
        </p>
        <p
          class='font-bold text-5xl pb-12 lg:text-left text-center text-blue-700'
        >
          AMERICAS’ mobility of the future
        </p>
        <p class='lg:text-2xl lg:text-left text-justify'>
          {t('home.description')}
        </p>
      </div>
    </div>
  </section>
  <section
    class="bg-[url('/img/bgWhyparticipate.webp')] bg-cover bg-center py-32 relative"
  >
    <div class='relative z-50 mx-auto container'>
      <p
        class='text-white text-6xl font-bold text-center'
        set:html={t('why_exhibit.title')}
      />
      <Carousel3d
        client:only
        why_participate1={t('home.why_participe1')}
        why_participate2={t('home.why_participe2')}
        why_participate3={t('home.why_participe3')}
        why_participate4={t('home.why_participe4')}
        why_participate5={t('home.why_participe5')}
      />
    </div>
  </section>
  <div>
    <p class='font-bold uppercase text-4xl text-center'>{t('home.title3')}</p>
  </div>
  <div class='my-28'>
    <p class='font-bold uppercase text-4xl text-center'>{t('home.title4')}</p>
    <div class='grid lg:grid-cols-4 grid-cols-1 gap-4 m-8'>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-star text-blue-950'
      >
        <img src='/img/movilidad_icono.webp' alt='' class='w-[180px] mb-4' />
        {t('home.category1')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img src='/img/infraestructura_icono.webp' alt='' class='w-[180px]' />
        {t('home.category2')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img
          src='/img/servicios_de_movilidad_icono.webp'
          alt=''
          class='w-[180px]'
        />
        {t('home.category3')}
      </div>
      <div
        class='text-xl font-bold text-center p-4 flex flex-col items-center justify-start text-blue-950'
      >
        <img src='/img/ecosistema_icono.webp' alt='' class='w-[180px]' />
        {t('home.category4')}
      </div>
    </div>
  </div>
  <div class='my-28'>
    <p class='font-bold uppercase text-4xl text-center'>Showroom</p>
    <p class='font-bold uppercase text-normal text-center pt-4'>
      {t('home.price-title')}
    </p>
    <div
      class='lg:flex grid lg:grid-cols-2 grid-cols-1 gap-16 items-start justify-center lg:m-16 m-4'
    >
      <div class='flex items-center justify-center lg:w-[400px] w-auto'>
        <div class='flex items-center justify-center'>
          <div
            class='w-full max-w-sm p-4 rounded-lg shadow sm:p-8 bg-blue-950 text-center h-[600px]'
          >
            <h5 class='text-3xl font-bold text-white uppercase'>
              {t('home.price1.title')}
            </h5>
            <h5 class='mb-4 text-normal font-medium text-white uppercase'>
              {t('home.price1.type')}
            </h5>
            <div class='flex items-baseline justify-center text-white'>
              <span class='text-3xl font-semibold'>$</span>
              <span class='text-6xl font-extrabold'>263</span>
            </div>
            <p class='text-white text-xl font-semibold'>
              {t('home.price1.characteristics.coin-type')}
            </p>

            <ul role='list' class='space-y-5 my-7'>
              <li
                class='flex items-center justify-center py-4 border-y border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price1.characteristics.item1')}
                />
              </li>
              <li class='flex items-center justify-center py-4'>
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price1.characteristics.item2')}
                />
              </li>
            </ul>
            <button
              type='button'
              class='text-white bg-blue-400 hover:bg-blue-200 hover:text-blue-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center mb-8'
              >{t('home.price1.characteristics.item-button')}
            </button>
            <span
              class='text-base font-normal leading-tight text-white ms-3'
              set:html={t('home.price1.characteristics.item3')}
            />
          </div>
        </div>
      </div>
      <div class='flex items-center justify-center lg:w-[400px] w-auto'>
        <div class='flex items-center justify-center'>
          <div
            class='w-full max-w-sm p-4 rounded-lg shadow sm:p-8 bg-blue-950 text-center h-[700px]'
          >
            <h5 class='text-3xl font-bold text-white uppercase'>
              {t('home.price2.title')}
            </h5>
            <h5 class='mb-4 text-normal font-medium text-white uppercase'>
              {t('home.price1.type')}
            </h5>
            <div class='flex items-baseline justify-center text-white'>
              <span class='text-3xl font-semibold'>$</span>
              <span class='text-6xl font-extrabold'>368</span>
            </div>
            <p class='text-white text-xl font-semibold'>
              {t('home.price1.characteristics.coin-type')}
            </p>

            <ul role='list' class='space-y-5 my-7'>
              <li
                class='flex items-center justify-center py-4 border-y border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item1')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item2')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item3')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item4')}
                />
              </li>
              <li
                class='flex items-center justify-center py-2 border-b border-white'
              >
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item5')}
                />
              </li>
              <li class='flex items-center justify-center py-2'>
                <span
                  class='text-normal font-normal leading-tight text-white ms-3'
                  set:html={t('home.price2.characteristics.item6')}
                />
              </li>
            </ul>
            <button
              type='button'
              class='text-white bg-blue-400 hover:bg-blue-200 hover:text-blue-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center mb-8'
              >{t('home.price1.characteristics.item-button')}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='my-12'>
    <p class='font-bold uppercase text-4xl text-center mb-6 text-blue-900'>
      MEDIA PARTNERS
    </p>
    <MarqueeReact images={partners} client:only />
  </div>
</Layout>
<style>
  video {
    object-fit: cover;
    object-position: left;
  }

  .home-text-agro {
    text-shadow: 4px 4px 4px black;
  }
  .filter-shadow {
    filter: drop-shadow(4px 4px 4px black);
  }
</style>
